@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
          -45deg,
          #667eea,
          #764ba2,
          #6b73ff,
          #000dff
  );

  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

.neonPulse{
  animation: neonPulse 2s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes neonPulse {
  0% {
    text-shadow:
            0 0 5px #22d3ee,
            0 0 20px #22d3ee;
  }

  100% {
    text-shadow:
            0 0 10px #22d3ee,
            0 0 40px #22d3ee,
            0 0 80px #22d3ee;
  }
}
